<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Locus.* and Telerik.* (except Telerik.FontIcons and Telerik.SvgIcons) will be restored from github,
    everything else from nuget.org. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
            <package pattern="Telerik.FontIcons" />
            <package pattern="Telerik.SvgIcons" />
        </packageSource>
    </packageSourceMapping>

</configuration>
